@import '../../assets/scss/common/_variable.scss';
@import '../../assets/scss/common/_mixins.scss';

.appBlock{
    .appSearchBlock{
        margin-bottom: 24px;
        position: relative;
        button{
            position: absolute;
            left: 18px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 22px;
        }
        input{
            background: rgba($color-primary, 0.08);
            padding-left: 50px;
            transition: all 0.6s ease;
            &::placeholder{
                font-size: 16px;
                color: $black;
            }
            &:focus{
                box-shadow: 0 0 0 1px $color-primary;
            }
        }
    }
    .appItem{
        margin-bottom: 21px;
        & > .title-h2{
            margin-bottom: 13px;
        }   
    }
    .title-h2{
        font-size: 20px;
        color: $black;
    }
    .appTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 13px;
    }
    .listCategory{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 11px;
    }
    .listTask{

    }
}