@import '../../assets/scss/common/variable';
@import '../../assets/scss/common/mixins';

.task-item{
    background: rgba($color-primary, 0.08);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px;
    border: 1px solid rgba($grey, 0.6);
    margin-bottom: 15px;
    input[type="checkbox"]{
        width: 20px;
        height: 20px;
        margin-right: 15px;
        cursor: pointer;
        &:checked{
            background: #fefefe;
            border-color: $color-primary;
        }
    }
    p{
        font-size: 13px;  
        color: rgba($black, 0.8);
        &.task-label{
            margin-bottom: 5px;
        }
    }
    &.task-finished{
        p{
            text-decoration: line-through;
        }
        .time{
            color: $color-primary;
        }
    }
    .task-col{
        display: flex;
        align-items: center;
        white-space: nowrap;
        &:last-child{
            p{
                margin-bottom: 0;
            }
            .btn{
                margin-left: 10px;
                font-size: 13px;
                padding: 10px;
                @include max(575px){
                    padding: 5px 10px;
                    font-size: 15px;
                }
                i{
                    display: none;
                    @include max(575px){
                        display: block;
                    }
                }
                span{
                    display: inline-block;
                    @include max(575px){
                        display: none;
                    }
                }
            }
        }
    }
}